server:
  port: 9003

spring:
  application:
    name: inventory-service
    
  datasource:
    url: jdbc:mysql://inventory-db:3306/inventorydb?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    
eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    
logging: 
  level: 
    root: INFO 
    "[org.springframework.kafka]": WARN # suppress offset commit spam 
    "[com.app.ordersystem.order]": DEBUG # keep your business logs detailed 
    "[org.springframework.cloud.netflix.eureka]": WARN # suppress heartbeat chatter 
    "[org.hibernate]": WARN # reduce SQL flood
    
management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0   # 100% traces (dev only)
      
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans
  
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  
  endpoint:
    prometheus:
      enabled: true